body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}


a {
    text-decoration:none;  
}

/* Reset Styles */
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

li {
    list-style-type: none;
}

/* Common Styles */
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    align-items: baseline;
}
    
img {
    display: block;
}

/* Header */

.header {
    
    margin: 0 auto;
    padding: 0 15px 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;

}

.header-logo {
    display: block;
    align-items: center;
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
}

.studio {
    color: #2E2F42;
}

.menu {
    display: flex;
    list-style: none;
    gap: 40px;
}

.menu-list {
    position: relative;
    display: block;
    color: #2E2F42;
    padding: 24px 0;
    padding-bottom: 24px;

    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

}


.menu-list:hover,
.menu-list:focus {
    color: #404bbf;
}


.menu-list.active {
    color: #404bbf;
}

.menu-list.active::after {
    content: '';
    position: absolute;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--OCEAN, #404BBF);
}


/* Adress */
.address {
    font-style: normal;
    
}

.address-list{
    display: flex;
    gap: 40px;
    font-style: normal;
    

}

.address-link{
    color: #434455;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style: none;
}

.adress-links {
    color: var(--SLATE, #434455);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.adress-links:hover {
    color: #404bbf;
}

.adress-links:focus {
    color: #404bbf;
}

/* First section */

/* .icons-second-section {
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
   
} */

.icons-advantage {
    position: absolute;
    width: 64px;
    height: 64px;
}

.section-first {
    margin: 0 auto;
    max-width: 1440px;
    text-align: center;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title-section-first {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    display: block;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.section-first-button {
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-first-button:hover {
    background-color: #404BBF
}

.section-first-button:focus {
    background-color: #404BBF
}

/* Section Second */


.section-second {
    padding: 120px 0;
}


.second-section-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    border-radius: 4px;
    margin-bottom: 8px;
    }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


.list {
    display: flex;
    list-style: none;
    gap: 24px;

}

.section-second-list {
    width: calc((100% - 72px) / 4);
    
}


.section-second-list-title {
    margin-bottom: 8px;
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-second-paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Section third */
.section-third {
    padding: 120px 0;
    background-color: #F4F4FD;
}

.section-third-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.section-third-list {
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.person-name {
    padding: 32px 0;
}

.section-third-list-title {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-third-list-parag {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}



/* Section-fourth */

.section-fourth {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-fourth-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.portfolio-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.porfolio-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 32px;

    color: var(--CLOUD, #F4F4FD);
    background: var(--IRIS, #4D5AE5);

    /* Body */
    
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.portfolio-item-list {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-list:hover{
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}

.portfolio-item-list:hover .overlay {
    transform: translateY(0%);
    
}

.name-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.section-fourth-list-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.section-fourth-parag {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer */

.footer {
    background-color: #2e2f42;
    color: #f4f4fd;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 100px 0;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;}

.footer .container{
    display: flex;
    align-items: baseline;
}

.footer-studio {
    margin-right: 120px;
}



/* .footer-socials {
    display: flex;
    margin-left: 50%;
    margin-right: 50%;
    
}  */

.footer-caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-list {
    display: flex;
    gap: 16px;
    
}

.socials-item {
    width: 40px;
    height: 40px
}

.footer .footer-icons-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #F4F4FD;
}

.footer .footer-icons-link:hover,
.footer .footer-icons-link:focus {
    background-color: #31D0AA;
    border-radius: 50%;
}

.footer .footer-logo {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 16px;
}

.footer-span {
    color: #f4f4fd;
}

.footer-parag {
    
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-container {
    display: flex;
    align-items: baseline;

}

.footer-socials {
  
}



/* ICONS 3 Section */
.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    margin-top: 8px;
}

.our-team-items {
    width: 40px;
    height: 40px;
}

.icons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    color: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-link:hover,
.icons-link:focus {
    
    background-color: #404BBF;
}

.icons-element {
    fill: currentColor;
}


/* Modal window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
  
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background:#FCFCFC;
    transition:transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
.modal-btn-close {
    position: absolute;

    top: 24px;
    right: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-color: transparent;
    fill: var(--CORNFLOWER, #E7E9FC);
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.10);

   

}

.modal-btn-close:hover{
    background-color: #404BBF;
    border: none;
}

.modal-btn-close:focus {
    background-color: #404bbf; 
    border: none;
}

.modal-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-icon:hover {
    fill: #ffffff;
}

.modal-button-icon:focus {
    fill: #ffffff;
}




.modal-caption {
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 16px;
    width: 360px;
   
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;    
}

.modal-form.form{
    margin-bottom: 8px;  
}

.form-field {
    margin-bottom: 8px;
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-form-field {
    position: relative;
     
}



.form-input {
    
    padding-left: 38px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);    outline: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}   

.form-input:focus {
    border-color: #4D5AE5;
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    
    
    fill: #2E2F42;

}

.form-input:focus + .form-icon {
    fill: #4D5AE5;
}



.modal-comment {
    top: 0;
    left: 0;
    width: 360px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    /* Small Text */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    letter-spacing: 0.48px;    
}

.checkbox {

}

.send-form-btn {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);    
    border-color: transparent;
}

.send-form-btn:hover {
    border-radius: 4px;
    background: var(--OCEAN, #404BBF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.text-send-btn {
    width: 105px;
    color: var(--WHITE, #FFF);
    text-align: center;

    /* Button Text */
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
}